version: "3.2"

services:
  api:
    image: ghcr.io/michaelahli/piston-api:v0.0.1
    container_name: piston_api
    privileged: true
    restart: always
    ports:
      - 2700:2000
    volumes:
      - ./data/piston/packages:/piston/packages

  repo:
    image: ghcr.io/michaelahli/piston-repo:v0.0.1
    container_name: piston_repo
    command: ["--no-build"]
    volumes:
      - .:/piston
    ports:
      - 2780:8000
