version: "3.2"

services:
  api:
    build: api
    container_name: piston_api
    privileged: true
    restart: always
    ports:
      - 2700:2000
    volumes:
      - ./data/piston/packages:/piston/packages

  repo:
    build: repo
    container_name: piston_repo
    command: ["--no-build"]
    volumes:
      - .:/piston
    ports:
      - 2780:8000
