# Default values for piston chart
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCountApi: 2

# environment variables for each component (map of name:value)
env:
  api:
    PISTON_COMPILE_CPU_TIME: "1000000"
    PISTON_COMPILE_TIMEOUT: "1000000"
    PISTON_DISABLE_NETWORKING: "false"
    PISTON_OUTPUT_MAX_SIZE: "2147483647"
    PISTON_REPO_URL: "https://repository.piston.france.stoxlify.com/index"
    PISTON_RUN_CPU_TIME: "300000"
    PISTON_RUN_TIMEOUT: "300000"
  repo: {}

image:
  repositoryApi: "ghcr.io/michaelahli/piston-api"
  repositoryRepo: "ghcr.io/michaelahli/piston-repo"
  pullPolicy: IfNotPresent
  tag: "v0.0.1"

service:
  api:
    port: 2000
    targetPort: 2000
    type: ClusterIP
  repo:
    port: 8000
    targetPort: 8000
    type: ClusterIP

persistence:
  enabled: true
  storageClass: ""
  accessMode: ReadWriteOnce
  sizeApi: 50Gi
  sizeRepo: 50Gi

resources:
  api: {}
  repo: {}

# security settings
security:
  privileged: true # whether containers run privileged (needed for isolate/cgroup)
  hostPID: true # share host PID namespace (required for cgroup modifications)

nodeSelector: {}
tolerations: []
affinity: {}
